.content{
		width: 740px;
		float: right;
		margin-right: 10px;
		margin-top: 10px;
	}
	.article{
		
	}
	.comment{
	
	}
	#sidebar{
		width:200px;
		float:left;
		margin-left:10px;
		margin-top:10px;
		min-height:300px;
		border-right:1px solid;
	
	}
	h1{
		 height:40px;
		 line-height:40px;
		 font-size:14px; 
		 text-indent:10px;
		 color:#eee;
	}
	li{
		list-style: none;
	}
	
	.article  p.top{
	  height:30px;
	  line-height:30px;
	  border-bottom:1px dashed #999;
	  color:#999;
	}
	.article  h2{
	  font-size:14px;
	  color:#333;
	  height:30px;
	  line-height:30px;
	}
	
	.article .cont{
	 padding-left:0px;
	 letter-spacing:1px;
	 text-indent:20px;
	 line-height:23px;
	 min-height:200px;
	 font-size:14px; 
	 word-break: break-all;word-wrap: break-word;
	}
	a:link { 
		text-decoration: none; 
	} 
	a:visited { 
		color:#00FF00; 
		text-decoration: none; 
	} 
	a:hover { 
		color:#000000; 
		text-decoration: none; 
	} 
	a:active { 
		color:#FFFFFF; 
		text-decoration: none; 
	} 
	.starSymbol{
		margin:5px;
		color:red;
	}
	.content .postComment tr{
	    height:22px;
	}	
	.content .postComment input{
    	height:20px;
	}
	.content .postComment textarea{
		width:400px;
		height:80px;
		font-size:12px;
	}